<%layout("/layouts/boilerplate")%>

    <div id="filters">
        <div class="filter">
            <i class="fa-solid fa-fire"></i>
            Trending
        </div>
    </div>
    <hr>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 mt-3">
                <%for(let listing of allListings){%>
                    <a href="/listings/<%=listing._id%>"  class="listing-link">
            <div class="card col listing-card" >
        <img src="<%= listing.image.url %>" class="card-img-top" style="height: 20rem;" alt="listing_image">
       <div class="card-img-overlay"></div>
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b>
                <br>
                &#8377;
                <% if (listing.price != null) { %>
                    <%= listing.price.toLocaleString("en-IN") %>
                <% } else { %>
                    N/A
                <% } %>
                /night
            </p>
        </div>
        </div>
        </a>
        <br>
<%}%>
</div>

